.days {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(#{--blocks-background-default});
    transition: all 0.1s linear;
}

.slide {
    background: var(#{--cards-background-default});
    border-radius: 10px;
}

.day {
    max-width: 145px;
    padding: 10px;
    border-radius: 10px;

    &__of_week {
        color: var(#{--text-default});
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 7px;
    }

    &__of_month {
        color: #939cb0;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    &__daily_temp {
        color: var(#{--text-default});
        font-size: 18px;
        font-weight: 500;
        transition: all 0.1s linear;
    }

    &__night_temp {
        color: #939cb0;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    &__weather {
        color: #939cb0;
        font-size: 13px;
        font-weight: 400;
    }
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;

    &__wrapper {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .tab,
    &__cancel {
        color: var(#{--text-default});
        font-size: 18px;
        font-weight: 400;
        padding: 7px 20px;
        border-radius: 5px;
        background: var(#{--blocks-background-default});
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        cursor: pointer;
        transition: all 0.1s linear;

        &:hover {
            background: #3466ab;
            color: #fff;
        }
    }

    .active {
        background: #4793ff;
        color: #fff;
    }
}
