@import '../../../../styles/variables.scss';

.day {
    max-width: 400px;
    width: 100%;
    height: 300px;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: $box-shadow;
    background-color: var(#{--blocks-background-default});
    transition: all 0.1s linear;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__temp {
        color: #4793ff;
        font-size: 96px;
        line-height: 100px;
        font-weight: 500;
    }

    &__name {
        color: var(#{--text-default});
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 30px;
        transition: all 0.1s linear;
    }

    &__icon {
        width: 150px;
        height: 150px;
    }

    &__time,
    &__city {
        color: #939cb0;
        font-size: 25px;
        font-weight: 400;
    }

    &__time {
        margin-bottom: 15px;
    }

    @media (max-width: 550px) {
        padding: 30px 15px;
        height: auto;
        border-radius: 15px;

        &__temp {
            font-size: 70px;
            line-height: 74px;
        }

        &__name {
            font-size: 30px;
            margin-bottom: 20px;
        }
        &__icon {
            width: 110px;
            height: 110px;
        }
        &__time,
        &__city {
            font-size: 20px;
        }
        &__time {
            margin-bottom: 10px;
        }
    }
}
