@import '../../../../styles/variables.scss';

.day {
    max-width: 400px;
    width: 100%;
    height: 300px;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: $box-shadow;
    background-color: var(#{--blocks-background-default});
    transition: all 0.1s linear;

    .text_skeleton {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        svg {
            max-width: 175px;
            width: 100%;
            height: 280px;

            &:nth-child(2) {
                max-width: 130px;
                height: 130px;
                margin-top: 35px;
                margin-right: 10px;
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__temp {
        color: #4793ff;
        font-size: 96px;
        line-height: 100px;
        font-weight: 500;
    }

    &__name {
        color: var(#{--text-default});
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 30px;
        transition: all 0.1s linear;
    }

    &__icon {
        width: 170px;
        height: 170px;
    }

    &__time,
    &__city {
        color: #939cb0;
        font-size: 25px;
        font-weight: 400;
    }

    &__time {
        margin-bottom: 15px;
    }

    @media (max-width: 550px) {
        padding: 30px 15px;
        height: auto;
        border-radius: 15px;

        // svg {
        //     width: 315px;
        //     height: 230px;
        // }

        .text_skeleton {
            gap: 10px;
    
            svg {
                height: 200px;

                clipPath {
                    rect {
                        &:first-child {
                            width: 135px;
                            height: 55px;
                            y: 10px;
                        }

                        &:nth-child(2) {
                            width: 150px;
                            height: 30px;
                            y: 85px;
                        }

                        &:nth-child(3) {
                            width: 170px;
                            height: 25px;
                            y: 135px;
                        }

                        &:nth-child(4) {
                            width: 170px;
                            height: 25px;
                            y: 170px;
                        }
                    }
                }
    
                &:nth-child(2) {
                    max-width: 115px;
                    height: 115px;
                    margin-top: 15px;

                    clipPath {
                        rect {
                            width: 115px;
                            height: 115px;
                            y: 0;
                        }
                    }
                }
            }
        }

        &__temp {
            font-size: 70px;
            line-height: 74px;
        }

        &__name {
            font-size: 30px;
            margin-bottom: 20px;
        }
        &__icon {
            width: 135px;
            height: 135px;
        }
        &__time,
        &__city {
            font-size: 20px;
        }
        &__time {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 390px) {
        // svg {
        //     width: 275px;
        //     height: 200px;
        // }
    }
}
