@import '../../../../styles/variables.scss';

.day {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: $box-shadow;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__temp {
        color: #4793ff;
        font-size: 96px;
        font-weight: 500;
    }

    &__name {
        color: $color-black;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &__icon {
        width: 119px;
        height: 119px;
    }

    &__time,
    &__city {
        color: #939cb0;
        font-size: 25px;
        font-weight: 400;
    }

    &__time {
        margin-bottom: 15px;
    }
}
