.item {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 10;

    &__icon {
        width: 38px;
        height: 38px;
        box-shadow: 1px 4px 10px rgba(71, 147, 255, 0.2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
    }

    &__name,
    &__value {
        color: #939cb0;
        font-size: 14px;
        font-weight: 400;
    }

    &__value {
        color: var(#{--text-default});
        transition: all 0.1s linear;

        svg {
            margin-top: 6px;
        }
    }

    @media (max-width: 550px) {
        gap: 15px;

        &__icon {
            width: 30px;
            height: 30px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &__name,
        &__value {
            font-size: 13px;
        }

        &__value {
            svg {
                width: 190px;
            }
        }
    }

    @media (max-width: 390px) {
        &__value {
            svg {
                width: 130px;
            }
        }
    }
}
