@import '../../../../styles/variables.scss';

.info {
    max-width: 750px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    position: relative;
    box-shadow: $box-shadow;
    border-radius: 20px;
    background-color: var(#{--blocks-background-default});
    transition: all 0.1s linear;
    overflow: hidden;

    &__img {
        position: absolute;
        top: 0;
        right: -70px;
        max-width: 460px;
        width: 100%;
        opacity: .7;
    }

    @media (max-width: 1020px) {
        padding: 20px;
        height: auto;
    }

    @media (max-width: 550px) {
        padding: 15px;
        border-radius: 15px;
        gap: 20px;

        &__img {
            max-width: 300px;
        }
    }
}