.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .wrapper {
        display: flex;
        align-items: center;
    }
    .link {
        text-decoration: none;
    }
    .logo {
        width: 65px;
        height: 65px;
        margin-right: 20px;
    }
    .title {
        color: #4793ff;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .theme {
        width: 35px;
        height: 35px;
        margin-right: 20px;
        cursor: pointer;
    }

    @media (max-width: 550px) {
        .logo {
            width: 45px;
            height: 45px;
            margin-right: 10px;
        }
        .title {
            font-size: 20px;
        }
        .theme {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }

    @media (max-width: 370px) {
        .logo {
            width: 35px;
            height: 35px;
            margin-right: 8px;
        }
        .title {
            font-size: 17px;
        }
        .theme {
            margin-right: 5px;
        }
    }
}
